/* CSS file for Meme page */
table{
  margin:auto;
}
.top-center{
  position:absolute;
  left:50%;
  top:10%;
  transform: translate(-50%, -50%);
}
.bot-center{
  position:absolute;
  left:50%;
  bottom:10%;
  transform: translate(-50%, -50%);
}
.meme-text{
  
  font-family: Impact, Charcoal, sans-serif;
}
